IP=0.0.0.0
PUERTO=5002
IP_SWAP=0.0.0.0
PUERTO_SWAP=5001
TAMANIO=384
TAMANIO_PAGINA=32
TIPO_ASIGNACION=DINAMICA
MARCOS_POR_PROCESO=1
ALGORITMO_REEMPLAZO_MMU=CLOCK-M
CANTIDAD_ENTRADAS_TLB=4096
ALGORITMO_REEMPLAZO_TLB=FIFO
RETARDO_ACIERTO_TLB=100
RETARDO_FALLO_TLB=1000
PATH_DUMP_TLB=/home/utnso/dumps/tlb